{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %} Requisición #{{req.id}} {% endblock %}

{% block content %}
	<div class="row mt">
		<div class="col-lg-12">
	      	<h3 class="inline" style="padding-left:20px;">
	        	<i class="fa fa-book"></i> 
	          	Requisición #{{req.id}} <small>(Registrada por {{req.client.first_name}} {{req.client.last_name}})</small>
	      	</h3>
	      	<hr style="border-color:#ddd;">

	      	<div class="row mt">
				<div class="col-lg-12">
					<div class="resume col-lg-7 col-md-7 col-sm-7 col-xs-12">
						<div class="col-lg-12">
							<!-- WHITE PANEL - TOP USER -->
							<div class="white-panel pn">
								<div class="white-header">
									<h5>RESUMEN</h5>
								</div>
								
								<div class="row">
									<div class="col-md-5">
										<p><small>Solicitado por:</small></p>
										<p>
											<img src="{{MEDIA_URL}}{{ req.client.avatar }}" class="img-circle" width="50">
										</p>
										<p><b>{{req.client.first_name}} {{req.client.last_name}}</b></p>
									</div>
									<div class="col-md-6" style="margin-bottom:20px;">
										<a href="{% url "reqs:edit_req" req.id %}" class="btn btn-primary" style="width:80%">
											Modificar
										</a>
									</div>
									<div class="col-md-3">
										<p class="small mt">FECHA</p>
										<p>{{req.open_date|date:"M d, Y"}}</p>
									</div>
									<div class="col-md-3">
										<p class="small mt">TIEMPO RESTANTE</p>
										<p class="remove-msg">{{req.limit_date|naturaltime}}</p>
									</div>
									<div class="col-md-7">
										<p class="small mt">ESTADO</p>
										<p>
											{{req.get_status_display}}
										</p>
									</div>
									

									<div class="col-md-10 col-md-offset-1">
										<p class="small mt">DESCRIPCIÓN DE LA REQUISICIÓN</p>
										<div class="desc-panel panel panel-default">
										  <div class="panel-body">
										    {{req.description|safe}}
										  </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> 
					<div class="resume col-lg-5 col-md-5 col-sm-5 col-xs-12">
						<div class="col-lg-12">
							<!-- WHITE PANEL - TOP USER -->
							<div class="white-panel pn">
								<div class="white-header">
									<h5>ARCHIVOS ADJUNTOS</h5>
								</div>
								<div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="panel-group" style="max-height:491px;" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            Hojas de Vida
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body text-left" style="max-height:274px;overflow:auto;">
                                                        {% for attach in req.atachment_set.all %}
                                                            {% if attach.file_type == 'CV' %}
                                                                <p>
                                                                    <a class="btn-link" target="_blank" href="/media/{{attach.file_resource}}">
                                                                        {% if attach %}{{attach}} ({{attach.get_size|filesizeformat}}){%endif%}
                                                                    </a>
                                                                </p>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            Ordenes de Compra
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="panel-body text-left" style="max-height:274px;overflow:auto;">
                                                        {% for attach in req.atachment_set.all %}
                                                            {% if attach.file_type == 'BO' %}
                                                            <p>
                                                                <a class="btn-link" target="_blank" href="/media/{{attach.file_resource}}">
                                                                    {% if attach %}{{attach}} ({{attach.get_size|filesizeformat}}){%endif%}
                                                                </a>
                                                            </p>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingThree">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                            Otros
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="panel-body text-left" style="max-height:274px;overflow:auto;">
                                                        {% for attach in req.atachment_set.all %}
                                                            {% if attach.file_type == 'RE' %}
                                                            {{attach.file_type}}
                                                            <p>
                                                                <a class="btn-link" target="_blank" href="/media/{{attach.file_resource}}">
                                                                    {% if attach %}{{attach}} ({{attach.get_size|filesizeformat}}){%endif%}
                                                                </a>
                                                            </p>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
									<a class="btn btn-success" href="{% url 'reqs:download' req.id %}">
										<span class="fa fa-download"></span> Bajar todo como zip
									</a>
								</div>
							</div>
						</div>
					</div>

                    <div class="resume col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-12">
							<!-- WHITE PANEL - TOP USER -->
							<div class="white-panel pn">
								<div class="white-header">
									<h5>ESTUDIOS ASIGNADOS</h5>
								</div>

								<div class="col-md-12">
									<table class="table table-striped">
										<thead>
								            <tr>
								              <th class="text-center">Estudio</th>
								              <th class="text-center">Estado</th>
								              <th class="text-center">Fecha de Asignación</th>
								              <th class="text-center">Tiempo para entrega</th>
								            </tr>
								          </thead>
								          <tbody>
								            {% if req.study_set.all %}
								              {% for study in req.study_set.all %}
								                <tr>
								                  <td class="text-center">
								                    <a href="{% url "studies:view_study" study.id%}">
								                      Estudio #{{study.id}}
								                    </a>
								                  </td>
								                  <td class="text-center">
								                    {{study.get_status_display}}
								                  </td>
								                  <td class="text-center">
								                    {{study.creation_date}}
								                  </td>
								                  <td class="text-center remove-msg">
								                    {{study.limit_date|naturaltime}}
								                  </td>
								                </tr>
								              {% endfor %}
								            {% else %}
								              <tr>
								                <td colspan="4" class="text-center">
								                  <p class="alert alert-info">
								                    No se ha asignado ningún estudio
								                  </p>
								                </td>
								              </tr>
								            {% endif %}
								          </tbody>
									</table>
								</div>

								<div class="row">
									<p style="margin-top:25px;">
									{% if user.is_superuser or user.is_staff %}
										<a href="{% url "reqs:create_study" req.id %}" class="btn btn-primary">
											Asignar Estudios
										</a>
									{% endif %}
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
    	</div>
	</div>
{% endblock %}

{% block js_imports%}
<script type="text/javascript">
	$(document).ready(function(){
		$('table').addClass('table table-bordered');
		
		$.each($('.remove-msg'), function(){
			$(this).html($(this).html().replace('a partir de ahora', ''));
		});

	});
</script>
{% endblock %}
