{% extends "base.html" %}
{% load future i18n two_factor %}

{% block title %}
	{% if user == site_user %} 
		Cuenta 
	{% else %} 
		Ver usuario: {{site_user.first_name}} {{site_user.last_name}}
	{% endif %}
{% endblock %}

{% block content %}
<h3 style="padding-left:20px;"><i class="fa fa-user"></i> 
	{% if user == site_user %} 
		Mi Cuenta 
	{% else %} 
		Ver usuario: {{site_user.first_name}} {{site_user.last_name}}
	{% endif %}
</h3>
<hr style="border-color:#ddd;">

<div class="row mt">
	<div class="col-lg-12">
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<div class="col-lg-12">
				<!-- WHITE PANEL - TOP USER -->
				<div class="white-panel pn">
					<div class="white-header">
						<h5>RESUMEN</h5>
					</div>
					<p>
						<img src="{{MEDIA_URL}}{{ site_user.avatar }}" class="img-circle" width="50">
					</p>
					<p><b>{{site_user.first_name}} {{site_user.last_name}}</b></p>
					<div class="row">
						<div class="col-md-6">
							<p class="small mt">USUARIO DESDE</p>
							<p>{{site_user.date_joined|date:"M d, Y"}}</p>
						</div>
						<div class="col-md-6">
							<p class="small mt">TIPO</p>
							<p>{{site_user.get_type_display}}</p>
						</div>
						<div class="col-md-6">
							<p class="small mt">ULTIMO INGRESO</p>
							<p>{{site_user.last_login|date:"M d, Y"}}</p>
						</div>
						<div class="col-md-6">
							<p class="small mt">ESTADO</p>
							<p>{% if site_user.is_active%} Activo {% else %} Inactivo {% endif %}</p>
						</div>
						<div class="col-md-12">
							<p class="small mt">ESTUDIOS ASIGNADOS</p>
							<p>0 Estudios</p>
						</div>
					</div>
				</div>
			</div>
		</div> 
		<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
			<div class="col-lg-12">
				<!-- WHITE PANEL - TOP USER -->
				<div class="white-panel pn">
					<div class="white-header">
						<h5>DATOS PERSONALES</h5>
					</div>
					<div class="row">
						<div class="col-md-5">
							<p class="small mt">DOCUMENTO</p>
							<p>{{site_user.get_dni_type_display}}</p>
						</div>
						<div class="col-md-3">
							<p class="small mt">NÚMERO</p>
							<p>{{site_user.dni_number}}</p>
						</div>
						<div class="col-md-3">
							<p class="small mt">GÉNERO</p>
							<p>{{site_user.get_genre_display}}</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-5">
							<p class="small mt">DIRECCIÓN</p>
							<p>{{site_user.address}}</p>
						</div>
						<div class="col-md-3">
							<p class="small mt">TELÉFONO</p>
							<p>{{site_user.phone}}</p>
						</div>
						<div class="col-md-3">
							<p class="small mt">MÓVIL</p>
							<p>{{site_user.mobile}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<p class="small mt">EMAIL</p>
							<p>{{site_user.email}}</p>
						</div>
						<div class="col-md-3">
							<p class="small mt">EMPRESA</p>
							<p>{{site_user.company}}</p>
						</div>
						<div class="col-md-3">
							<p class="small mt">CARGO</p>
							<p>{{site_user.role}}</p>
						</div>
					</div>
					<div class="row">
						{% if site_user == user %}
							<p style="margin-top:25px;">
								<a href="{% url "admin:users:update_account" site_user.id %}" class="btn btn-primary">
									Actualizar mi información
								</a>
							</p>
						{% else %}
							<p style="margin-top:25px;">
								<a href="{% if site_user.type == 'C' %}
									{% url "admin:users:clients" %}
									{% else %}{% url "admin:users:employees" %}
									{% endif %}" class="btn btn-default">
									Regresar
								</a>
								<a href="{% url "admin:users:edit" site_user.id %}" class="btn btn-primary">
									Modificar Información
								</a>
							</p>
						{% endif %}	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% if user == site_user %}
<div class="row mt">
	<div class="col-lg-12">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-12">
				<!-- WHITE PANEL - TOP USER -->
				<div class="white-panel pn">
					<div class="white-header">
						<h5>SEGURIDAD DE LA CUENTA</h5>
					</div>

					<div class="row">
						{% if default_device %}
						<div class="col-md-6">
						{% else %}
						<div class="col-md-12">
						{% endif %}
							<p class="small mt">ESTADO ACTUAL</p>
							<p>
								{% if default_device %} 
									{% if default_device_type == 'TOTPDevice' %}
										{% trans "Tokens will be generated by your token generator." %}

									{% elif default_device_type == 'PhoneDevice' %}
										{% blocktrans with primary=default_device|device_action %}Primary method: {{ primary }}{% endblocktrans %}

									{% elif default_device_type == 'RemoteYubikeyDevice' %}
										{% blocktrans %}Tokens will be generated by your YubiKey.{% endblocktrans %}
									{% endif %}

								{% else %}
									La autenticación de doble factor esta desactivada en tu cuenta. Activala para una seguridad de cuenta mejorada.
									<p>
										<a href="{% url 'authy:enable_otp' %}" class="btn btn-success">
	      									{% trans "Enable Two-Factor Authentication" %}
	      								</a>	
									</p>
								{% endif %}
							</p>
						</div>
						{% if default_device %}
							<div class="col-md-6">
								<p class="small mt">CAMBIAR CONFIGURACIÓN</p>
								<p>
									<p>
										<a class="btn btn-danger" href="{% url 'authy:disable_otp' %}">
      										{% trans "Disable Two-Factor Authentication" %}
      									</a>
      								</p>
      								No se recomienda deshabilitar la autenticación de doble factor
								</p>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div> 
	</div>
</div>
{% endif %}
{% endblock %}
