{% extends "base.html" %}

{% block title %}Agregar Usuario{% endblock %}
{% block content %}
	<h3 style="padding-left:20px;"><i class="fa fa-user"></i> Crear {% if employees %}empleado{% else %}cliente{% endif %}</h3>
	<hr style="border-color:#ddd;">

	<div class="col-lg-6">
		<form id="add_user" method="POST" action="{% if employees %}{% url "admin:users:new_employee" %}{% else %}{% url "admin:users:new_client" %}{% endif %}">
			{% csrf_token %}
			{{form}}
			<p class="text-right">
				<a href="{% url "admin:users:home" %}" class="btn btn-default" >Cancelar</a>
				<button type="submit" class="btn btn-primary" >Crear Usuario</button>
			</p>
		</form>
	</div>
{% endblock %}	