{% load static dash_tags  %}
<header class="header black-bg">
  <div class="sidebar-toggle-box">
    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Mostrar/Ocultar Menú">
    </div>
  </div>
  <!--logo-->
  <a href="{% url "dashboard:home" %}" class="logo">
    <img src="{% static "img/logo.png" %}">
  </a>
      
  <div class="nav notify-row" id="top_menu">
    <!--  notification -->
    <ul class="nav top-menu">
      <!-- settings start -->
      
          
      <!-- inbox dropdown start-->
      <li id="header_inbox_bar" class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <i class="fa fa-envelope-o"></i>
          {% with user.id|get_notifications as notifs %}
          <span class="badge bg-theme">
            {{notifs.all.count}}
          </span>
          {% endwith %}
        </a>
        <ul class="dropdown-menu extended inbox">
          <div class="notify-arrow notify-arrow-green"></div>
          <li>
            {% with user.id|get_notifications as notifs %}
              <p class="green">Tienes {{notifs.all.count}} nuevos mensajes</p>
            {% endwith %}
          </li>
          {% with user.id|get_notifications as notifs %}
            {% for notif in notifs %}
              <li>
                {{notif.a_tag|safe}}
                  <span class="photo">
                    <span class="{{notif.icon}}"></span>
                  </span>
                  <span class="subject">
                    <span class="from">{{notif.short}}</span>
                    <span class="time">
                      {{notif.date|date:"M j"}}
                    </span>
                  </span>
                  <span class="message">
                    {{notif.message|safe}}
                  </span>
                </a>
              </li>
            {% endfor %}
          {% endwith %}
          
          <li>
            <a href="index.html#">Ver todos los mensajes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
      
  <div class="top-menu">
    <ul class="nav pull-right top-menu">
      <li><a class="logout" href="{% url "authy:logout" %}">Cerrar Sesión</a></li>
    </ul>
  </div>
</header>