{% extends "base.html" %}
{% load static %}

{% block imports %}
  <link href="{% static "css/chosen.min.css" %}" rel="stylesheet">
  <link href="{% static "css/chosen-bootstrap.css" %}" rel="stylesheet">
  <link href="{% static "css/bootstrap-sortable.css" %}" rel="stylesheet">
{% endblock %}

{% block title %} Asignaciones {% endblock %}

{% block content %}
	<div class="row mt">
		<div class="col-lg-12">
      <h3 class="inline" style="padding-left:20px;">
        <i class="fa fa-calendar"></i> 
          Asignaciones <small>({{assignments.count}} Asignaciones)</small>
      </h3>
      <hr style="border-color:#ddd;">
      <div class="row-fluid actions-bar">
        <b style="margin-right:10px;">Buscar: </b>
        <select id="search-box" class="form-control chosen-select">
          <option></option>
          {% for assign in assignments %}
            <option data-href="
            {% comment %}
            {% url "assignments:view_assign" assign.id %}
            {% endcomment%}
            ">
                Asignación #{{assign.id}}
            </option>
          {% endfor %}
        </select>
      </div>
      <section id="unseen">
        <table class="table table-striped sortable">
          <thead>
            <tr>
              <th class="text-center">Asignación</th>
              <th class="text-center">Fecha</th>
              <th class="text-center">Candidato</th>
              <th class="text-center">Servicio</th>
              <th class="text-center hidden-xs">Progreso</th>
            </tr>
          </thead>
          <tbody>
            {% if assignments %}
              {% for assign in assignments %}
                <tr>
                  <td class="text-center">
                    <a href="{% url "assignments:view_assign" assign.id %}">
                      Estudio #{{assign.id}}
                    </a>
                  </td>
                  <td class="text-center">
                    {{assign.asignment_date}}
                  </td>
                  <td class="text-center hidden-xs">
                    {{assign.study.candidate}}
                  </td>
                  <td class="text-center hidden-xs">
                    {{assign.study.service}}
                  </td>
                  <td class="text-center hidden-xs">
                    {% if study.service.roles.count == study.assignment_set.count %}
                      Asignado
                    {% else %}
                      Sin Asignar
                    {% endif %}
                  </td>
                </tr>            
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="9" class="text-center">
                  <p class="alert alert-info">
                    No hay Estudios registradas
                  </p>
                </td>
              </tr>
            {% endif %}   
          </tbody>
        </table>
      </section>
    </div>
	</div>
{% endblock %}

{% block js_imports %}
  <script type="text/javascript" src="{% static "js/bootstrap-sortable.js" %}"></script>
  <script type="text/javascript" src="{% static "js/chosen.jquery.min.js" %}"></script>
{% endblock %}

