{% extends "base.html" %}
{% load static %}
{% load study_tags %}
{% load humanize %}

{% block title %} Estudio #{{study.id}} {% endblock %}

{% block imports %}
  <link href="{% static "css/bootstrap-sortable.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="row mt">
		<div class="col-lg-12">
	      	<h3 class="inline" style="padding-left:20px;">
	        	<i class="fa fa-book"></i> 
	          	Estudio #{{study.id}} <small>(Requisición {{study.requisition.id}})</small>
	      	</h3>
	      	<hr style="border-color:#ddd;">

	      	<div class="row mt">
				<div class="col-lg-12">
					<!-- WHITE PANEL - TOP USER -->
					<div class="white-panel pn">
						<div class="white-header">
							<h5>RESUMEN</h5>
						</div>
						
						<div class="row">
							<div class="col-md-3">
								<p><small>Solicitado por:</small></p>
								<p>
									<img src="{{MEDIA_URL}}{{ study.requisition.client.avatar }}" class="img-circle" width="50">
								</p>
								<p><b>{{study.requisition.client.first_name}} {{study.requisition.client.last_name}}</b></p>
							</div>
							<div class="col-md-2">
								<p class="small mt">FECHA</p>
								<p>{{study.creation_date|date:"d \d\e F \d\e Y"}}</p>
							</div>
							<div class="col-md-2">
								<p class="small mt">REQUISICIÓN</p>
								<p>{{study.requisition}}</p>
							</div>
							<div class="col-md-2">
								<p class="small mt">TIEMPO RESTATNTE</p>
								<p class="remove-msg">{{study.limit_date|naturaltime}}</p>
							</div>
							<div class="col-md-2">
								<p class="small mt">SERVICIO</p>
								<p>{{study.service}}</p>
							</div>
							<div class="col-md-2">
								<p class="small mt">ESTADO</p>
								<p>
									{{study.get_status_display}}
								</p>
							</div>
							<div class="col-md-2">
								<p class="small mt">EMPLEADO</p>
								<p>
									{{study.employee.first_name}}
									{{study.employee.last_name}}
								</p>
							</div>
							<div class="col-md-4">
								<a href="/media/{{study.attachment}}" target="_blank" download class="btn btn-default btn-lg" style="margin-top:5px;">
									<span class="fa fa-download"></span>
									Bajar archivos adjuntos
								</a>
							</div>

							<div class="col-md-12" style="margin-top:10px;">
								{% if user.is_superuser or user.is_staff %}
								<a href="{% url "studies:edit_study" study.id %}" class="btn btn-primary" style="width:30%">
									Modificar
								</a>
								{% endif %}
								
								{% if not user.type == 'C' %}
								<a href="{% url "reports:new_report" study.id %}" class="btn btn-success" style="width:30%">
									Crear Reporte
								</a>
								<a href="{% url "reports:upload_report" study.id %}" class="btn btn-primary" style="width:30%">
									Subir Reporte
								</a>
								{% endif %}
							</div>
							
							<div class="col-md-10 col-md-offset-1">
								<p style="margin-top:20px;" class="small mt">REPORTES</p>
							    <table class="table table-striped sortable">
									<thead>
							            <tr>
							              <th class="text-center">Tipo</th>
							              <th class="text-center">Doc. Candidato</th>
							              <th class="text-center">Estado</th>
							              <th class="text-center">Acción</th>
							            </tr>
							        </thead>
							        <tbody>
							            {% if study.reportform_set.all %}
							              {% for report in study.reportform_set.all %}
							                <tr>
							                  <td class="text-center">
							                      {{report.get_report_type_display}}
							                  </td>
							                  <td class="text-center">
							                      {{report.json_data|get_candidate}}
							                  </td>
							                  <td class="text-center">
							                    {% if report.verified %}
							                    	Listo
						                    	{% elif report.locked %}
						                    		En revisión
						                    	{% else %}
						                    		Para envío
							                    {% endif %}
							                  </td>
							                  <td class="text-center">
							                  	
						                    	{% if user.type == 'C' and report.verified %}
								                  	<a href="{% url 'reports:view_report' report.id %}" class="btn btn-primary">
							                    		<span class="fa fa-eye"></span>
							                    	</a>
						                    	{% elif not user.type == 'C' %}
						                    		<a href="{% url 'reports:view_report' report.id %}" class="btn btn-primary">
							                    		<span class="fa fa-eye"></span>
							                    	</a>
						                    	{% endif %}
						                    	{% if not user.type == 'C' %}
								                    {% if not report.locked or user.is_superuser %}
								                    	<a href="{% url 'reports:edit_report' report.id %}" class="btn btn-success">
								                    		<span class="fa fa-edit"></span>
								                    	</a>
								                    {% endif %}

								                    {% if not report.locked %}
								                    	<a href="{% url 'reports:lock_report' report.id %}" class="lock btn btn-warning">
								                    		<span class="fa fa-lock"></span>
								                    	</a>
								                    {% elif report.locked and user.is_superuser %}
								                    	<a href="{% url 'reports:unlock_report' report.id %}" class="btn btn-warning">
								                    		<span class="fa fa-unlock"></span>
								                    	</a>
								                    {% endif %}

								                    {% if not report.locked or user.is_superuser %}
								                    <a href="{% url 'reports:remove_report' report.id %}" class="delete btn btn-danger">
							                    		<span class="fa fa-trash-o"></span>
							                    	</a>
							                    	{% endif %}
							                    	{% if user.is_superuser %}
								                    	<a href="{% url 'reports:check_report' report.id %}" class="btn btn-default">
								                    		<span class="fa fa-check"></span>
								                    	</a>
								                    {% endif %}
							                    {% endif %}
							                  </td>
							                </tr>            
							              {% endfor %}
							            {% endif %}
						              	{% if study.reportfile_set.all %}

							              {% for report in study.reportfile_set.all %}
							                <tr>
							                  <td class="text-center">
							                      {{report.get_report_type_display}}
							                  </td>
							                  <td class="text-center">
							                      {{report.candidate.dni_number}}
							                  </td>
							                  <td class="text-center">
							                    {% if report.verified %}
							                    	Listo
						                    	{% elif report.locked %}
						                    		En revisión
						                    	{% else %}
						                    		Para envío
							                    {% endif %}
							                  </td>
							                  <td class="text-center">
							                  	{% if user.type == 'C' and report.verified %}
							                  	<a href="/media/{{report.report_file}}" class="btn btn-primary">
						                    		<span class="fa fa-eye"></span>
						                    	</a>
						                    	{% elif not user.type == 'C' %}
						                    		<a href="/media/{{report.report_file}}" class="btn btn-primary">
							                    		<span class="fa fa-eye"></span>
							                    	</a>
						                    	{% endif %}
						                    	{% if not user.type == 'C' %}
								                    {% if not report.locked or user.is_superuser %}
								                    	<a href="{% url 'reports:edit_report_upload' report.id %}" class="btn btn-success">
								                    		<span class="fa fa-edit"></span>
								                    	</a>
								                    {% endif %}

								                    {% if not report.locked %}
								                    	<a href="{% url 'reports:lock_report_upload' report.id %}" class="lock btn btn-warning">
								                    		<span class="fa fa-lock"></span>
								                    	</a>
								                    {% elif report.locked and user.is_superuser %}
								                    	<a href="{% url 'reports:unlock_report_upload' report.id %}" class="btn btn-warning">
								                    		<span class="fa fa-unlock"></span>
								                    	</a>
								                    {% endif %}

								                    {% if not report.locked or user.is_superuser %}
								                    <a href="{% url 'reports:remove_report_upload' report.id %}" class="delete btn btn-danger">
							                    		<span class="fa fa-trash-o"></span>
							                    	</a>
							                    	{% endif %}
							                    	{% if user.is_superuser %}
								                    	<a href="{% url 'reports:check_report_upload' report.id %}" class="btn btn-default">
								                    		<span class="fa fa-check"></span>
								                    	</a>
								                    {% endif %}
							                    {% endif %}
							                  </td>
							                </tr>            
							              {% endfor %}
							            {% endif %}
							            {% if not study.reportfile_set.all and not study.reportform_set.all%}
							              <tr>
							                <td colspan="4" class="text-center">
							                  <p class="alert alert-info">
							                    No se ha subido o creado ningún reporte.
							                  </p>
							                </td>
							              </tr>
							            {% endif %}   
							          </tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
    	</div>
	</div>
{% endblock %}

{% block js_imports%}
 <script type="text/javascript" src="{% static "js/bootstrap-sortable.js" %}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('table').addClass('table table-bordered');
		$('#expand-panel').click(function(){
			$('#resume').toggleClass('col-lg-7 col-md-7 col-sm-7');
			$(this).html('Contraer Panel');
		});

		$('.lock, .delete').click(function(event){
			event.preventDefault();
			var aproval = confirm('Esta acción no se puede deshacer. ¿Desea continuar?')
			if(aproval){
				document.location.href = $(this).attr('href');
			}
		});
		$('.remove-msg').html($('.remove-msg').html().replace('a partir de ahora', ''));
	});
</script>

{% endblock %}
